<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>


<%= link_to 'Add New Question', new_question_path(page: params[:page]), class: 'btn btn-primary add-new-question' %>
<h1>Questions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Question</th>
      <th>Role</th>
      <th>Mapping</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.description %></td>
        <td><%= question.role.name %></td>
        <td><%= question.mapping.name %></td>
        <td><%= link_to 'Show', question_path(question, page: params[:page])  %></td>
        <td><%= link_to 'Edit', edit_question_path(question, page: params[:page]) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @questions, theme: 'twitter-bootstrap-4' %>
